<%- include("includes/head.ejs") %>


<body>
    <div class="chat">
        <hr>
        <p>from: <%= chat.from %> </p>
        <p >to: <%= chat.to %> </p>
        <form method="POST" action="/chats/<%= chat._id %>/edit?_method=put">
                <textarea name="msg"><%= chat.message %></textarea>
                <button>Change</button>
        </form>

        <p >Date: <%= chat.created_at.toString().split(" ").slice(0,4).join('-') %> </p>
        <p ><%= chat.created_at.toString().split(" ")[0] %> </p>
    </div>
    <br>
    <br>

</body>